.cart-page {
  /* margin-bottom: 3rem; */
}

.cart-all>h2{
  width: 95vw;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: white;
  box-shadow:
  -5px -5px 5px rgba(0, 0, 0, 0.1),
  5px 5px 5px rgba(0, 0, 0, 0.1) !important;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.25rem;
}

.cart-shop-more {
  text-align: center;
  background-color: white;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow:
  -5px -5px 5px rgba(0, 0, 0, 0.1),
  5px 5px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 1rem;
}

.cart-shop-more p {
  margin-bottom: 2rem;
}

.cart-shop-more a {
  padding: 1rem 1.5rem;
  background-color: rgb(0, 81, 255);
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.cart-shop-more a:hover {
  background-color: rgb(0, 63, 145);
}

.cart-all .loggedout {
  width: 95vw;
  /* font-size: 1.25rem; */
  margin: 0 auto;
  border-radius: 1rem;
  background-color: white;
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    padding: 2rem 0;
    text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-all .loggedout a {
  margin-top: 2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 1.5rem 4rem;
  border-radius: 20px;
  background-color: rgb(0, 110, 255);
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
}

.cart-all .loggedout a:hover {
  background-color: rgb(0, 81, 255);
}

.cart-all {
  width: 95vw;
  margin: 0 auto;
  border-radius: 1rem;
}

.price-detail {
  padding: 2rem 1rem;
  border-radius: 1rem;
  width: 95vw;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
  background-color: white;
}

.price-detail>* {
  display: flex;
  justify-content: space-between;
}

.price-detail .total {
  margin-top: 10px;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.place-order {
  margin: 1rem 0 3rem 0;
  text-align: center;
}

.place-order button {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1.5rem 4rem;
  align-self: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 110, 255);
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
}

.place-order button:hover {
  background-color: rgb(0, 81, 255);
}