.header.homepage {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 0 2rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}


.header.homepage img {
  height: 1.7rem;
}

.header svg {
  font-size: 24px;
  cursor: pointer;
}

.header .header___searchIcon {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  height: 2rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    -1px -1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.1);
}

.header .header___searchIcon svg {
  font-size: 18px;
  fill: rgba(0, 0, 0, 0.4);
}