.categories.homepage {
  padding: 0 2rem;
  background-color: white;
  overflow-y: hidden;
  overflow-x: scroll;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgba(0, 0, 0, 0.1);
}

.categories.homepage ul {
  display: flex;
  flex-direction: row;
}

.categories.homepage ul li {
  list-style-type: none;
  padding: 5px;
}