.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.login-page form .input-group {
  background-color: white;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
}

.login-page input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1rem;
  outline: 0;
  width: 80%;
}

.login-page form [type="submit"] {
  cursor: pointer;
  margin-top: 2rem;
  padding: 1.5rem 4rem;
  align-self: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
}