.more-page {}

.more-page-options .option-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}


.more-page-options .option-item a {
  color: blue;
  font-size: 1.2rem;
  text-decoration: none;
}

.more-page-options .option-item a:hover {
  text-decoration: underline;
}

.more-page-options .option-item.account {
  position: fixed;
  bottom: 6rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.more-page-options .option-item.account div {
  cursor: pointer;
  color: blue;
  font-size: 1.2rem;
  text-decoration: none;
}

.more-page-options .option-item.account div:hover {
  text-decoration: underline;
}










.terms-and-conditions-page div,
.return-replacement-policy-page div,
.privacy-policy-page div,
.authenticity-page div{
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
  padding: 2rem;
  margin: 0 2rem;
  border-radius: 1rem;
}