.product-page-carousel {
  background-color: white;
}

.awssld {
  height: 45vh !important;
  box-shadow:
    -5px -5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1) !important;
}

.awssld__content {
  background-color: white !important;
  height: max-content !important;
  margin: 2rem 0 !important;
}

.awssld__bullets {
  bottom: 15px !important;
}

.awssld__bullets button {
  background-color: rgba(0, 0, 0, 0.15) !important;
  width: 8px !important;
  height: 8px !important;
}




.product-page-name {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: bold;
}

















.product-page-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  bottom: 4rem;
}

.product-page-bottom>* {
  width: 50%;
  background-color: purple;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1rem;
}

.product-page-bottom>*:hover {
  background-color: rgb(70, 1, 70);
}



.add-to-wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.add-to-wishlist svg {
  margin-right: 10px;
}