.product-page-carousel {
  margin-top: 2rem;
  background-color: white;
}

.awssld {
  height: 45vh !important;
  margin: 0 auto;
  margin-top: 6rem !important;
  width: 95vw !important;
  border-radius: 1rem;
  box-shadow:
    -5px -5px 5px rgba(70, 70, 70, 0.1),
    5px 5px 5px rgba(70, 70, 70, 0.1) !important;
}

.awssld__content {
  background-color: white !important;
  height: max-content !important;
  margin: 2rem 0 !important;
}

.awssld__bullets {
  bottom: 10px !important;
  z-index: 999;
}

.awssld__bullets button {
  background-color: rgba(70, 70, 70, 0.4) !important;
  width: 8px !important;
  height: 8px !important;
}

.product-page-name {
  margin-top: 1rem;
  font-size: 20px;
}






.product-page-attribute {
  width: 95vw;
  box-shadow:
    -5px -5px 5px rgba(70, 70, 70, 0.1),
    5px 5px 5px rgba(70, 70, 70, 0.1) !important;
}















.product-page-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  bottom: 4rem;
}

.product-page-bottom>* {
  border-top: 1px solid rgba(70, 70, 70, 0.4);
  width: 50%;
  background-color: rgb(255, 0, 85);
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1rem;
}

.product-page-bottom>*:hover {
  background-color: rgb(173, 0, 58);
}



.add-to-wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.add-to-wishlist svg {
  margin-right: 10px;
}