.product-page {
  margin-bottom: 7rem;
}

.product-page-carousel {
  margin-top: 2rem;
  background-color: white;
  border-radius: 1rem;
}

.awssld {
  height: 45vh !important;
  margin: 0 auto;
  margin-top: 6rem !important;
  width: 95vw !important;
  border-radius: 1rem;
  box-shadow:
    -5px -5px 5px rgba(70, 70, 70, 0.1),
    5px 5px 5px rgba(70, 70, 70, 0.1) !important;
}

.awssld__content {
  background-color: white !important;
  height: max-content !important;
  margin: 2rem 0 !important;
  border-radius: 1rem;
}

.awssld__bullets {
  bottom: 10px !important;
  z-index: 999;
}

.awssld__bullets button {
  background-color: rgba(70, 70, 70, 0.4) !important;
  width: 8px !important;
  height: 8px !important;
}

.product-details {
  padding-top: 1rem;
  width: 95vw;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow:
    -5px -5px 5px rgba(70, 70, 70, 0.1),
    5px 5px 5px rgba(70, 70, 70, 0.1) !important;
  border: 1px solid rgba(70, 70, 70, 0.1);
}

.product-page-name {
  margin-top: 1rem;
  font-size: 22px;
  font-weight: bolder;
  padding: 0 20px;
}

.product-page-discount {
  margin-top: 1rem;
  color: green;
  font-size: 14px;
  padding: 0 20px;
}

.product-page-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  margin: 1rem 0;
}

.product-page-price p:nth-child(1) {
  font-size: 22px;
  font-family: brandon-bold;
}

.product-page-price p:nth-child(2) {
  color: rgba(70, 70, 70, 0.4);
  text-decoration: line-through;
  margin-left: 2rem;
}



.product-page-attribute {
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-page-attribute .attribute {
  border: 1px solid rgba(70, 70, 70, 0.1);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}

.product-page-attribute .attribute select {
  padding: 10px;
  background-color: rgba(70, 70, 70, 0.1);
}

.product-page-attribute .attribute .attribute-name {
  color: rgba(70, 70, 70, 0.5);
  text-align: left;
  font-size: 14px;
}













.product-page-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  bottom: 4rem;
}

.product-page-bottom>* {
  border-top: 1px solid rgba(70, 70, 70, 0.4);
  width: 50%;
  background-color: rgb(255, 0, 85);
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1rem;
}

.product-page-bottom>*:hover {
  background-color: rgb(173, 0, 58);
}



.add-to-wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.add-to-wishlist svg {
  margin-right: 10px;
}