@media screen and (min-width: 768px) {
  .wishlist-shop-more a {
    margin-top: 0;
  }
}

.wishlist-all {
  background-color: white;
  padding: 2rem;
  box-shadow: var(--box-shadow-main);
  width: 95vw;
  margin: 0 auto;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wishlist-all h2 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.wishlist-all .loggedout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wishlist-all .loggedout a {
  margin-top: 2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 1.5rem 4rem;
  border-radius: 20px;
  background-color: var(--button-bg-color);
  box-shadow: var(--box-shadow-main);
  }
  
.wishlist-all .loggedout a:hover {
  background-color: var(--button-bg-color-hover);
}

.wishlist-shop-more {
  width: 95vw;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow:
  var(--box-shadow-main);
}
.wishlist-shop-more p{
  margin-bottom: 2rem;
}

.wishlist-shop-more a {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--button-bg-color);
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.wishlist-shop-more a:hover {
  background-color: var(--button-bg-color-hover);
}


@media screen and (min-width: 768px) {
  .wishlist-all {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .wishlist-all {
    grid-template-columns: repeat(4, 1fr);
  }
}